{{ "<!-- ENTERING default section.html -->" | safeHTML }}

<body class="charcoal bg-teal">

  
<main class="m0 p4 bg-lightpaperfibers">
  <h3 class="text-shadow h3-responsive sans m0 rice-paper-dark">Section: {{ .Title }}</h3>
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h5>{{ .Key }}</h4>
  <!-- ANOTHER WAY: <div style="margin-left: 2em" id="list"></div> -->
  <ul>
    {{ range .Pages }}
    {{ .Render "li"}}
    {{ end }}
  </ul>
  {{ end }}
</main>


</body>
</html>
{{ "<!-- LEAVING default section.html -->" | safeHTML }}
