{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "schema-dot-org" }}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Title 0 110 }},
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": {{ . | absURL }}
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": {{ printf "%s" .Permalink }},
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
"datePublished": {{ .PublishDate.Format $ISO8601 }},
{{- else }}
"datePublished": {{ .Date.Format $ISO8601 }},
{{- end }}
{{- if not .Lastmod.IsZero }}
"dateModified": {{ .Lastmod.Format $ISO8601 }},
{{- end }}
"author": {
  "@type": "Person",
  "name": {{ .Params.author | default .Site.Params.author }}
}
{{- if or (.Params.keywords) (or (.Params.categories) (.Params.tags)) -}}
,
"keywords": {{ delimit (union .Params.keywords (union .Params.categories .Params.tags)) ", " }}
{{- end }}

{{- with .Params.description -}}
,
"description": {{ . }}
{{- end }}
}
</script>

{{ end }}

{{ define "main" }}
{{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}

<div class="card">
  <div class="card-header" style="flex-flow: column;">
    <div class="title" dir="auto"><a href="{{ .Params.link }}">{{ .Title | markdownify }}</a></div>

    <div><span class="tag is-primary is-light"><i class="iconify" data-icon="mdi-light:calendar" data-inline="true"></i>
      <time {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time></span> 
    {{ if or (.Params.categories) (.Params.tags) }} {{ partial "meta-terms.html" . }}{{ end }}
    </div>
  </div>

  <img src="{{ .Params.image }}" class="card-img" alt="" href="{{ .Params.link }}" target="_blank">
  <div class="card-content level">
    <div>
      <a href="{{ .Params.link }}" target="_blank" class="button is-primary level-left">{{ i18n "read" }}</a>
    </div>
      <div class="level-right">
        {{ if (ne ($.Param "sharingicons") false) }}
        {{ partial "sharing-icons.html" . }}
        {{ end }}
      </div>
  </div>

  <div class="card-footer" style="flex-flow: column;">
    {{ if or (ne ($.Param "sharingicons") false) (.Site.DisqusShortname) }}
    {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
    {{ template "_internal/disqus.html" . }}
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
