{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="card is-accent">
    <div class="card-header-title is-family-monospace is-secondary" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></div>
  <div class="card-content is-primary">

    <div class="tag is-primary is-light"><time {{ .Date.Format "2006-01-02T15:04:05Z07:00" | printf "datetime=%q" | safeHTMLAttr }}>{{ .Date.Format $dateFormat }}</time> 
    {{ if or (.Params.categories) (.Params.tags) }} {{ partial "meta-terms.html" . }}{{ end }}
  </div>
  </div>
</div> <!-- /.blog-post -->

{{- /* vim: set ts=2 sw=2 et: */}}
