body,html {
	background: white
  }
.share-icon {
    font-weight: bold;
    position: relative;
}
.share-icon:before {
    content: ".";
    font-size: 2.2em;
    position: absolute;
    bottom: -2.5px;
    left: -4px;
}
.share-icon:after {
    content: ":";
    font-size: 2em;
    position: absolute;
    bottom: -6px;
    right: -7px;
}

