{{ range .Site.RegularPages.GroupByDate "2006" }}
<div class="card">
  <div class="card-header">
    <div class="card-header-title">
  {{ .Key }}
    </div>
  </div>
  <div class="card-content">
  <ul>
    {{ range .Pages }}
    <li><a href="{{.Permalink}}">{{.Title | truncate 30 }}</a></li>
    {{ end }}
  </ul>
  </div>
</div>
{{ end }}
