<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="navbartitro" class="navbar-menu is-active is-hidden-desktop">
    <div class="navbar-end">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}
        <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
        {{ end }}
    </div>
  </div>
</nav>

