<aside class="col-sm-3 ml-auto blog-sidebar">

<!--
    {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
    <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "share" }}</h4>
    <p dir="auto">{{ .Site.Params.sidebar.about | markdownify }}</p>
    </section>
    {{ end }}

  <section class="sidebar-module">
    <div class="row justify-content-center">
  {{ with .Site.Menus.togglelang}}
    <ol class="list-unstyled">
      {{ range . }}
      <li>
      <button type="button" class="btn btn-secondary"><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></button>
      </li>
      {{ end }}
    </ol>
  {{ end }}
  </div>
  </section>

-->


  <hr>
    <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "share" }}</h4>
    <div>
  {{ if .Site.Params.sidebar }}
  {{ partial "sharing-icons.html" .}}
  {{ end }}
  </div>
    </section>

    <section class="sidebar-module sidebar-module-inset">
  <div class="row d-flex justify-content-around">
    <h4>{{ i18n "rssFeed" }}</h4>
   <a type="application/rss+xml" href="https://titro.pro/index.xml" title="{{ .Site.Title }}"><span class="iconify mysvg" data-icon="carbon:rss"></span></a>
  </div>
    </section>

  <div class="row">
  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}
  </div>

    <section class="sidebar-module sidebar-module-inset">


    </section>
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
