<div class="card is-primary">
  <div class="card-content has-text-centered">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}

    <a class="button is-primary{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
  </div>
</div>
<div class="card is-light">
  <div class="card-content has-text-centered">
    <div class="">{{ i18n "share" }}</div>
    <div>
      {{ if .Site.Params.sidebar }}
      {{ partial "sharing-icons.html" .}}
      {{ end }}
    </div>
  </div>
</div>

{{ if .Site.Params.sidebar }}
{{ partial "recent.html" .}}
{{ end }}

{{ if .Site.Params.sidebar }}
{{ partial "archive2.html" .}}
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
